/* Tabla */
table {
  width: 100%;
  border: none; 
}

tr {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-family: 'Arial Narrow Bold';
}

.table-hover {
    --bs-table-hover-bg: rgb(167, 166, 166);
    --bs-table-accent-bg: white;
}

.btn-secondary:hover {
    color: black;
    background-color: white;
}

.btn-danger:hover {
    color: black;
    background-color: white;
}

.btn-primary:hover {
    color: black;
    background-color: white;
}
  
  /* Contenedores */
  .page_limit, .tab_filter_container {
    font-size: 16px;
  }
  
  .tab_filter_container {
    display: flex;
    align-items: center;
  }
  
  #tab_filter_text {
    height: 35px;
    width: 200px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #tab_filter_btn {
    font-size: 16px;
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .index_buttons {
    display: flex;
    gap: 5px;
  }
  
  .index_buttons button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .index_buttons button.active {
    background-color: #007bff;
    color: white;
  }
  
  .footer {
    font-size: 14px;
    margin-left: 10px;
  }