/* Barra de navegacion*/

.navbar {
    padding: 1rem;
    color: white;
    background-color: rgb(78, 81, 243);
}

.nav-link {
    color: white;
}
.nav-item {
    padding: 20px;
    font-size: 20px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-imagen-usuario {
    width: 50px;
    height: 50px;
}

.btn-navbar {
    margin: 10px;
    width: 10rem;
    height: 50px;
    font-size: 10px;
    font-weight: bold;
    background-color: green;
    border: 0;
}

/* Seccion hero*/

.hero {
    background-color: green;     
    min-height: 200px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.hero-imagen-desarrollador {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos generales*/

.seccion-titulo {
    text-align: center;
    font-size: 2rem;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

.seccion-texto {
    font-size: 1.2rem;
}

/* Formulario */

.form-check-input {
    border-color: black;
}

.form-label {
    font-size: large;
    font-weight: bold;
}

.form-control {
    border: 2px solid grey;
    background-color: whitesmoke;
}

/* Pie de página (footer) */

footer {
    min-height: 500px;
    color: white;
    background-color: rgb(78, 81, 243);
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    max-width: 600px;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*adaptable (responsivo)*/

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}